.round-corner {
    border-radius: 0.6em;
}

.round-corner-left {
    border-bottom-left-radius: 0.6em;
    border-top-left-radius: 0.6em;
}

.round-corner-right {
    border-bottom-right-radius: 0.6em;
    border-top-right-radius: 0.6em;
}

.round-corner-top {
    border-top-right-radius: 0.6em;
    border-top-left-radius: 0.6em;
}

.round-corner-bottom {
    border-bottom-right-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
}

.outline {
    border: 1px solid darkgray;
    margin: 0.8em;
}

.margin {
    margin: 1.5em;
}

.bold-text {
    font-weight: bold;
}

.search-result-title {
    font-size: 15pt;
}

.search-result-link {
    font-size: 8pt;
}

.search-result-snippet {
    font-size: 10pt;
}

.search-source-engine {
    font-size: 5pt;
}

.search-result-weight {
    font-size: 5pt;
}

.search-result-card {
    padding: 2em;
}